In [21]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df=pd.read_csv(r'C:\AI workforce\Medical-insurance\prediction.csv')
df.head()

   Unnamed: 0  age  sex     bmi  children  smoker  region      charges
0           0   19    0  27.900         0       1       3  16884.92400
1           1   18    1  33.770         1       0       2   1725.55230
2           2   28    1  33.000         3       0       2   4449.46200
3           3   33    1  22.705         0       0       1  21984.47061
4           4   32    1  28.880         0       0       1   3866.85520

In [22]:
df = df.drop(columns=["Unnamed: 0"])
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

X = df.drop(columns=["charges"])  
y = df["charges"]

In [ ]:
print(X.columns)

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region'], dtype='object')

In [24]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)
model_lin = LinearRegression()
model_lin.fit(X_train, y_train)

y_pred_lin = model_lin.predict(X_test)

print("R² Score:", r2_score(y_test, y_pred_lin))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_lin)))

R² Score: 0.7833463107364539
RMSE: 5799.587091438355

In [25]:
from sklearn.ensemble import RandomForestRegressor

model_ran = RandomForestRegressor(n_estimators=200, random_state=42)
model_ran.fit(X_train, y_train)

y_pred_ran = model_ran.predict(X_test)

print("Random Forest")
print("R² Score:", r2_score(y_test, y_pred_ran))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_ran)))

Random Forest
R² Score: 0.8654170742271029
RMSE: 4570.976756306445

In [26]:
from sklearn.ensemble import GradientBoostingRegressor

model_grad = GradientBoostingRegressor(n_estimators=200, learning_rate=0.1, random_state=42)
model_grad.fit(X_train, y_train)

y_pred_grad = model_grad.predict(X_test)

print("Gradient Boosting")
print("R² Score:", r2_score(y_test, y_pred_grad))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_grad)))

Gradient Boosting
R² Score: 0.8745933824032381
RMSE: 4412.393715725197

In [27]:
import pickle

filename = "trained_model.sav"
with open(filename, "wb") as f:
    pickle.dump(model_grad, f)

with open(filename, "rb") as f:
    loaded_model =pickle.load(f)